body {
    background: rgb(80, 0, 0);
    margin-top: 20px;
    font-family: "Arial";
    overflow-x: hidden;
}

.nav_bar a {
    background: rgb(80, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 19px;
}

.nav_bar a:hover {
    background: rgb(80, 0, 0);
    color: rgba(255, 255, 255, 0.754);
}

.home_btn {
    margin-right: 785px;
    margin-left: 10px;
}

.scroll {
    color: white;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 50px;
}

.experience {
    width: 90%; /* Adjust width here */
    height: 70vh; /* Adjust height here */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px auto; /* Center the boxes and add vertical margin */
    font-size: 2rem;
    overflow: hidden;
    perspective: 1000px;
    background-color: black;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.experience.visible {
    opacity: 1;
    transform: scale(1);
}

.content {
    width: 500px;
    color: white;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: transform 2s;
}

.content.visible {
    transform: rotateX(0deg);
}