/* home page */
body {
    background: rgb(80, 0, 0);
    margin-top: 20px;
    font-family: "Arial";
}

.nav_bar a {
    background: rgb(80, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 19px;
}

.nav_bar a:hover {
    background: rgb(80, 0, 0);
    color: rgba(255, 255, 255, 0.754);
}

.home_btn {
    margin-right: 785px;
    margin-left: 10px;
}

.welcome {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    margin-top: 120px;
    margin-left: 80px;
    position: relative;
    font-weight: normal;
}

.email {
    margin-top: -70px;
    font-weight: normal;
}

.email a, .phone a{
    color: white;
    font-weight: normal;
}

.phone {
    margin-bottom: 0px;
    font-weight: normal;
}

.description span:hover {
    color: rgb(0, 60, 130);
}

/* typing animation for howdy world text */
.typing-animation {
    margin-top: 130px;
    margin-bottom: 110px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 80px;
    font-size: 60px;
    font-weight: bold;
    border-right: 2px solid white;
    max-width: 650px;
    animation: typing 3s steps(14) infinite;
}

/* keyframes for the typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

.description h2{
    color: white;
    line-height: 1.5;
    font-size: 20px;
    font-weight: normal;
    font-family: "Arial";
    margin-top:-10px;
    margin-left: 80px;
    max-width: 700px;
}

/* keyframes for the shake animation on linkedin and github logos */
@keyframes shake {
    0% { transform: translate(0, 0); }
    10%, 90% { transform: translate(-2px, 0); }
    20%, 80% { transform: translate(2px, 0); }
    30%, 50%, 70% { transform: translate(-2px, 0); }
    40%, 60% { transform: translate(2px, 0); }
    100% { transform: translate(0, 0); }
}

.linkedin {
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 20px;
    width: 46px;
    transition: transform 0.3s ease;
}

.github {
    margin-left: 20px;
    width: 52px;
    transition: transform 0.3s ease;
}

.linkedin:hover,
.github:hover {
    animation: shake 1s;
}

.zain {
    width: 300px;
    margin-top: -250px;
    margin-left: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 30px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

.zain:hover {
    transform: translateY(-20px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0); 
}

/* elements for screen sizes */
@media (max-width: 1400px) {
    .home_btn {
        margin-right: 10px;
    }
}

@media (max-width: 1200px) {
    .welcome {
        font-size: 30px;
        margin-bottom: 60px;
        margin-top: 90px;
        margin-left: 60px;
    }

    .description {
        font-size: 12px;
        margin-left: 60px;
        font-weight: normal;
    }

    .tamu {
        width: 250px;
        margin-left: 50%;
    }
}

@media (max-width: 600px) {
    .welcome {
        font-size: 20px;
        margin-bottom: 40px;
        margin-top: 60px;
        margin-left: 40px;
    }

    .nav_bar a {
        padding: 0px;
        font-size: 12px;
    }

    .home_btn {
        margin: 0 5px;
        padding: 3px 6px;
        font-size: 12px;
    }

    .description {
        font-size: 10px;
        margin-left: 40px;
        font-weight: normal;
    }

    .linkedin,
    .github {
        margin-top: 30px;
        margin-left: 10px;
        width: 30px;
    }

    .tamu {
        width: 150px;
        margin-left: 60%;
    }
}

@keyframes moveIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* apply the move into place animation to all elements */
body * {
    animation: moveIn 1.5s ease-in-out;
}

/* remove the move into place animation on linkedin and github logos so it does not repeat */
body .github,
body .linkedin {
    animation: none;
}

/* about section */
.about_page {
    background: rgb(80,0,0);
    background: radial-gradient(circle, rgba(80,0,0,1) 0%, rgba(43,41,42,1) 100%); 
    font-family: "Arial";
    font-weight: normal;
    color: white;
}

.about_page .nav_bar a{
    background: none;
}

.about_page h1 {
    margin-top: 70px;
    font-size: 55px;
    margin-left: 100px;
    font-weight: bold;
}

.about_page h2 {
    margin-left: 90px;
    font-size: 20px;
    margin-right: 200px;
    line-height: 1.5;
    font-weight: normal;
    border-radius: 10px;
    padding: 10px;
}

.about_page img {
    width: 300px;
    height: auto; 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 125px;
    justify-content: space-between; 
    align-items: center;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.about_page img:hover {
    transform: translateY(-20px); 
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.8);
}

/* apply the move into place animation to all elements */
.about_page * {
    animation: moveIn 1.5s ease-in-out;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.wave span {
    display: inline-block;
    animation: wave 1s infinite;
    animation-delay: calc(0.1s * var(--i));
}




